a,
.btn,
button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


button:hover {
    box-shadow: 0 8px 6px -4px #222;
}

#profile {
    background-color: #666;
    min-height: 100vh;

    .noteBox {
        width: 200px;
        min-height: 200px;
        background-color: #cfc;
    }

    i {
        cursor: pointer;
    }

    .fa-ellipsis-v {
        background: #777;
        padding: 5px 10px;
        border-radius: 50px;
    }

    .dropdown a:focus {
        background: rgb(192, 191, 191);
    }
}
